body {
    background-color: rgb(92, 125, 173);
}

h2 {
    text-align: center;
}

#main-content {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgb(194, 197, 199);
    border-radius: 1.5%;
}