body {
    background-color: rgb(92, 125, 173);
}

button {
    margin: 0px 5px 0px 5px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: white;
    font-weight: 200;
}

h1 {
    font-size: 35px;
    color: white;
    font-weight: 250;
}

hr {
    border-top: 4px solid black;
}

.button-container {
    align-self: center;
    text-align: center;
}

.card {
    width: 18rem;
    background-color: rgb(143, 179, 202);
    filter: drop-shadow(0 0 0.75em rgb(30, 54, 163));
}   

#add-button {
    margin-top: 15px;
    justify-content: center;
    text-align: center;
}

#book-list-heading {
    padding-top: 3em;
    justify-content: center;
    text-align: center;
}


#card-container {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#main-content {
    width: 500px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgb(143, 179, 202);
    border-radius: 1.5%;
    filter: drop-shadow(0 0 0.75em rgb(30, 54, 163));
}